<h3>Szczegóły do funkcjonalności: {{functionality.lsKeyName}}</h3><br>
<p>Nazwa funkcji: {{functionality.name}}</p>
<p>Opis funkcji: {{functionality.description}}</p>
<p>Priorytet: {{functionality.priority}}</p>
<p>Status: {{functionality.status}}</p>
<p>Key projektu: {{functionality.projectKey}}</p>
<p>Właściciel: {{functionality.ownerKey}}</p>

<table>
    <tr>
        <th>Zadanie</th>
        <th>Status</th>
    </tr>

    <tr *ngFor="let task of tasks">
    
        <ng-container *ngIf="task.projectKeyName ===activeProjectKey && task.funcKeyName == funcKey">
            <td>{{task.name}}</td>
            <td>{{task.status}}</td>
        </ng-container>
    
    </tr>
</table>


<button [routerLink]="['/functionalities']">powrót </button>

